* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Assets/background-space.jpg');
    background-size: cover;
    color: whitesmoke;
    margin: 50px;
}

h2 {
    text-align: center;
    font-size: 100px;
}

p {
    font-size: 50px;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 200px; /* Aumentar a distância entre as seções */
}

.hidden {
    opacity: 0;
    filter: blur(25px);
    transform: translateX(-100%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
    gap: 20px;
}

.avatar {
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
}

.logos:nth-child(2) {
    transition-delay: 400ms;
}

.logos:nth-child(3) {
    transition-delay: 700ms;
}

.logos:nth-child(4) {
    transition-delay: 1000ms;
}
