* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Assets/background-space.jpg');
    background-size: cover;
    color: whitesmoke;
    margin: 0px;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.header ul li {
    list-style: none;
    display: inline-block;
}

.header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover {
    background-color: #211b4385;
}

h2 {
    text-align: center;
    font-size: 100px;
}

p {
    font-size: 50px;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 200px;
    padding-top: 100px; /* Adicionado para evitar sobreposição do cabeçalho */
}

.hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: scale(1);
}

.logos {
    display: flex;
    gap: 20px;
}

.avatar {
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
}

.logos:nth-child(2) {
    transition-delay: 400ms;
}

.logos:nth-child(3) {
    transition-delay: 700ms;
}

.logos:nth-child(4) {
    transition-delay: 1000ms;
}
