@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Assets/background-space.jpg');
    background-size: cover;
    color: #ededed; /* Removido duplicata */
    margin: 0px;
}

.header {
    width: 100%;
    background-color: transparent; 
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
}

.header a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 25px;
    margin-left: 35px;
    transition: all ease 0.5s;
}

.header ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

.header ul li {
    list-style: none;
    display: inline-block;
}

.header ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    letter-spacing: 2px;
    padding: 25px;
    transition: all ease 0.5s;
}

.header ul li a:hover {
    color: #00abf0;
}

h2 {
    text-align: center;
    font-size: 100px;
}

section {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 100px; /* Adicionado para evitar sobreposição do cabeçalho */
}

.hidden {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s, transform 1s;
}

.show {
    opacity: 1;
    transform: scale(1);
}

.logos {
    display: flex;
    gap: 20px;
}

.avatar {
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
}

.logos:nth-child(2) {
    transition-delay: 400ms;
}

.logos:nth-child(3) {
    transition-delay: 700ms;
}

.logos:nth-child(4) {
    transition-delay: 1000ms;
}

#início {
    min-height: calc(100vh - 120px); /* Ajuste para a altura da seção */
    display: flex;
    align-items: center;
    padding: 10 10%;
    margin-left: 80px;
}

#início .pagina-inicial {
    margin-top: 200px;
    max-width: 1000px;
    background: red;
}

#início h1 {
    font-size: 82px;
    font-weight: 700;
}

#início h3 {
    font-size: 62px;
    font-weight: 700;
    color: #00abf0;
}

#início p {
    font-size: 32px;
}
